// Button
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;

  &--right {
    justify-content: flex-end;
    gap: 8px;
  }
}

.general-button {
  display: flex;
  justify-content: center;
  min-width: var(--general-width);
  max-width: 100%;
  height: var(--general-height);
  align-items: center;
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
  text-align: center;
  padding: 8px 32px;
  border-radius: 4px;
  border: none;

  &:hover {
    background-color: var(--third-color);
    color: var(--black-color);
  }

  &:disabled,
  &.disabled {
    background-color: var(--gray-color);
    color: var(--black-color);
    cursor: not-allowed;

    &:hover {
      background-color: var(--gray-color);
      color: var(--black-color);
    }
  }
}

.cancel-button {
  background-color: var(--black-color);
  color: var(--white-color);
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  border: none;
  min-width: var(--small-width);

  &:hover {
    background-color: var(--third-color);
    color: var(--black-color);
  }
}

.delete-button {
  background-color: var(--danger-color);
  color: var(--white-color);
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  border: none;
  min-width: var(--small-width) !important;

  &:hover {
    background-color: var(--danger-color);
    color: var(--black-color);
  }
}

.link-button {
  color: var(--primary-color);
  cursor: pointer;
  text-align: center;

  &:hover {
    color: var(--primary-color);
  }
}

.edit-button {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: var(--black-color);
  }
}
