// Dropdown
.dropdown,
.dropdown-keep-open {
  position: relative;
  overflow: visible;
  height: var(--general-height);
  z-index: 3;

  & .item {
    display: grid;
    grid-template-columns: 1fr 10px;
    justify-items: center;
    align-items: center;
    width: 64px;
    height: var(--general-height);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 4px 8px;
    background: #fff;
    font-weight: 400;
    cursor: pointer;

    &--small {
      width: 64px;
    }

    &--medium {
      width: 120px;
    }

    &--large {
      width: 160px;
    }

    & .text {
      text-align: center;
    }

    & i.arrow-up {
      transform: translateY(4px);
    }

    & i.arrow-down {
      transform: translateY(-2px);
    }

    & .hidden {
      display: none;
    }

    & .up {
      transform: translateY(4px) rotate(180deg);
    }
  }

  & .options {
    position: relative;
    width: 64px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 3px var(--primary-color);
    top: 9px;
    overflow: hidden;
    display: none;

    &--small {
      width: 64px;
    }

    &--medium {
      width: 120px;
    }

    &--large {
      width: 160px;
    }
  }

  & .options.active {
    display: block;
  }

  & .options .option {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: var(--general-height);

    &:hover {
      background-color: var(--third-color);
    }
  }

  & .options .option.active {
    background-color: var(--primary-color);
    color: var(--white-color);
  }
}
