// Modal
.modal-dialog_600 {
  max-width: 600px;
}

.modal-dialog_700 {
  max-width: 700px;
}

.modal-dialog_800 {
  max-width: 800px;
}

.modal-dialog_900 {
  max-width: 900px;
}

.modal-dialog_1000 {
  max-width: 1000px;
}
