// Title
.header-title {
  font-family: var(--title-font);
  font-weight: bold;
  letter-spacing: 2px;
}

.header-subtitle {
  font-family: var(--regular-font);
  font-weight: bold;
  text-align: center;
}
