:root {
  --primary-color: #5bbcff;
  --secondary-color: #fffab7;
  --third-color: #ffd1e3;
  --fourth-color: #7ea1ff;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --white-color: #fff;
  --gray-color: #f8f9fa;
  --heavy-gray-color: #c0c0c0;
  --black-color: #000;
  --title-font: "Pacifico";
  --regular-font: "Arial";
  --general-width: 200px;
  --small-width: 128px;
  --general-height: 36px;
  --general-double-height: 100%;
  --small-height: 32px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  color: var(--black-color);
  font-family: Arial, sans-serif, "Oswald";
  overflow-x: hidden;
}

li {
  list-style: none;
}

.layout {
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
  margin: 0 auto;
  display: grid;
}

.layout__header {
  position: relative;
  background-color: var(--primary-color);
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.layout__content {
  margin-top: 88px;
  display: grid;
  grid-template-columns: 240px 1fr;

  .content__left {
    .left__menu {
      font-weight: bold;
      color: var(--black-color);
      border-bottom: 1px solid var(--primary-color);
      text-align: center;
    }
  }

  .content__right {
    background-color: var(--white-color);
    padding: 16px 16px 48px 16px;
    width: 99%;
    z-index: 1;
  }
}

.layout__footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--small-height);
  background-color: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 12px;
  z-index: 2;
}

// Overlay
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.display {
  display: block !important;
}

.hidden {
  display: none !important;
}

// Overwrite the default style of the button
.form-control:focus {
  border: 1px solid var(--primary-color);
  box-shadow: none;
}

// Loader layout
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: var(--white-color);
  font-size: 24px;
}
