#editorjs-container {
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
  padding: 16px 64px;
  border-radius: 4px;
}

.ce-toolbar__content,
.ce-block__content {
  max-width: unset;
}

.editorjs-codeFlask_Wrapper .editorjs-codeFlask_LangDisplay {
  max-width: unset;
  height: unset !important;
}
