// Input
.input-group {
  display: flex;
  flex-direction: column;

  &:has(label) {
    height: var(--general-double-height);
  }

  &:not(:has(label)) {
    height: var(--general-height);
  }

  label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  input {
    border: 1px solid var(--primary-color);
    background-color: var(--white-color);
    border-radius: 4px !important;
    height: var(--general-height);
    padding: 4px 8px;
    outline: none;

    &::placeholder {
      color: var(--heavy-gray-color);
      font-size: 14px;
    }

    &:focus {
      border: 1px solid var(--primary-color);
    }

    &.no-border {
      border: none;
    }
  }
}

.edit-input {
  border: 1px solid var(--primary-color);
  background-color: var(--white-color);
  border-radius: 4px;
  width: 100%;
  position: relative;
  padding: 0 !important;
  display: grid !important;
  grid-template-columns: 1fr 48px;
  gap: 8px;

  .form-control:focus {
    background: transparent !important;
    border: none !important;
  }

  & input {
    border: none;
    width: 98%;
    height: var(--small-height);
    outline: none;
  }

  &-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    gap: 8px;

    & div {
      padding: 0 !important;
    }
  }
}

.input-with-icon {
  display: grid;
  grid-template-columns: 1fr 32px;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--primary-color);
  background-color: var(--white-color);
  border-radius: 4px;

  input {
    border: none !important;
  }

  i {
    cursor: pointer;
    color: var(--primary-color);
  }
}
