.message {
  display: flex;
  align-items: center;
  height: var(--message-height);
  margin: 8px 0;
  font-size: 12px;
}

.success-message {
  color: var(--success-color);
}

.danger-message {
  color: var(--danger-color);
}
