// Section
.section {
  margin-top: 16px;
  border: 1px solid var(--primary-color);
  padding: 16px;
  border-radius: 8px;

  &--center {
    justify-content: center;
  }
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
